<div class="book-create__modal">
    <form [formGroup]="modalForm" novalidate (ngSubmit)="submit()">
        <mat-form-field class="example-full-width">
            <mat-label>Название книги</mat-label>
            <input [(ngModel)] = "formData.title" formControlName="title" matInput type="text">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Автор</mat-label>
            <mat-select matNativeControl [(ngModel)] = "formData.author" formControlName="author" name="author">
                   <mat-option value="" selected></mat-option>
                   <mat-option *ngFor="let author of this.authors" [value]="author.name">
                     {{author.name}}
                    </mat-option> 
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Описание</mat-label>    
            <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            [(ngModel)] = "formData.description" formControlName="description"
            ></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Число страниц</mat-label>
            <input [(ngModel)] = "formData.pages" formControlName="pages" matInput type="number" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Язык</mat-label>
            <mat-select [(ngModel)] = "formData.language" formControlName="language" name="language">
                   <mat-option value="" selected></mat-option>
                   <mat-option *ngFor="let language of this.languages" [value]="language.title">
                     {{language.title}}
                    </mat-option> 
            </mat-select>
        </mat-form-field>
        

        <mat-form-field class="example-full-width">
            <mat-label>Жанр</mat-label>    
            <input [(ngModel)] = "formData.genre" formControlName="genre" matInput type="text" />
        </mat-form-field>

        <button [disabled]="modalForm.invalid" (click)="submit()" mat-raised-button mat-button mat-dialog-close color="primary">Готово</button>
    </form>
</div>
