<button class="add-button" (click)="openModal()" mat-raised-button color="link">Добавить книгу</button>

<filter-books
[(searchedAndFilteredBooks)]="searchedAndFilteredBooks"
[books] = "books"
[authorsList] = "authorsList"
[languageList] = "languageList"
[maxPagesFromDB] = "maxPagesFromDB"
[minPagesFromDB] = "minPagesFromDB"
[genreList]="genresList"
>
</filter-books>

<search-books
[(searchedAndFilteredBooks)]="searchedAndFilteredBooks"
[books] = "books"
>
</search-books>

<div class="main">
    <h1>Список книг</h1>
    <div *ngIf="searchedAndFilteredBooks.length > 0; else withoutItems" class="books-wrapper">
            <book *ngFor="let book of searchedAndFilteredBooks"
            [title] = "book.title"
            [description] = "book.description"
            [author] = "book.author"
            [pages] = "book.pages"
            [language] = "book.language"
            [genre] = "book.genre"
            ></book>
    </div>
    <ng-template #withoutItems>
        <h3>К сожалению, ничего не найдено.</h3>
    </ng-template>
</div>
